{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    <h1>Hello world HØW ARE YOU GREAT great</h1>
    {% for article in articles %}
        <h2>{{ article.categorie }}</h2>
        <h3>{{ article.titre }}</h3>
        <p>{{ article.description|raw }}</p>
        {% for media in article.media %}
            <img src="{{ asset('uploads/attachments/' ~ media.imageName) }}" alt="{{ media.imageName }}">
        {% endfor %}
    {% endfor %}
{% endblock %}
