{% extends 'base.html.twig' %}

{% block title %}
    <title>Galeries</title>
{% endblock %}
{% block meta %}
    <meta name="description" content=" Caroline MARCELLIER, galeries, mes différents travaux"/>
{% endblock %}
{% block stylesheets %}
    <link rel='stylesheet' src={{ asset ('styles/articles.css') }}>
{% endblock %}

{% block body %}
    <div class="grid grid-cols-1  md:grid-cols-4 lg:grid-cols-10 flex flex-wrap justify-center content">
        {% for article in articles %}
            <a href="{{path('app_article_show',{"id": article.id})}}">
                {% if article.media|length > 0 %}
                    {% set randomImage = random(article.media) %}
                    <div class="link text-center">
                        <img class="h-48 object-cover" src="{{ asset('uploads/attachments/' ~ randomImage.imageName) }}" alt="{{ randomImage.imageName }}">
                        <p class="text-gray-500 text-sm">
                            {{ article.titre }}
                        </p>
                    </div>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}
