{% extends 'base.html.twig' %}

{% block title %}Hello imageController!
{% endblock %}

{% block body %}
    {% for image in articles %}
        <h2>{{ image.categorie }}</h2>
        <h3>{{ image.titre }}</h3>
        <p>{{ image.description|raw }}</p>
        {% for media in image.media %}
            <img src="{{ asset('uploads/attachments/' ~ media.imageName) }}" alt="{{ media.imageName }}" class="transition duration-300 ease-in-out hover:scale-110 mr-2" style="width: 150px;">
        {% endfor %}
    {% endfor %}
{% endblock %}
