{% extends 'base.html.twig' %}
{% block meta %}
<meta name="description" content="Caroline MARCELLIER, contact" />
<meta name="author" content="Caroline MARCELLIER" />
{% endblock %}

{% block title %}Caroline MARCELLIER contact{% endblock %}

{% block body %}
    <section class="text-gray-600 body-font relative form-container">
        {% for message in app.flashes('success') %}
            <div class="mb-4 rounded-lg bg-green-100 px-6 py-5 text-base text-green-700" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contactez Moi</h1>
            </div>
            {{ form_start(form) }}
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="flex flex-wrap -m-2 w-1/2 mx-auto">
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            {{ form_row(form.sujet, {
                                'label': 'Name',
                                'attr': {
                                    'class': 'w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            {{ form_row(form.email, {
                                'label': 'Email',
                                'attr': {
                                    'class': 'w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            {{ form_row(form.message, {
                                'label': 'Message',
                                'attr': {
                                    'class': 'w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="p-2 w-full">
                            <button class="flex mx-auto bg-white border border-black border-opacity-25 py-2 px-8 focus:outline-none hover:bg-pink-200 rounded text-lg">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
